
/* 論文アノテーション配色 */
span[type="highlight"]{background-color:#FFFBAC;}

span[type="toi"]{background-color:#BFEAF5;}
span[type="answer"]{background-color:#FBC252;}
span[type="predict"]{background-color:#9999FF;}
span[type="konkyo"]{background-color: #f7b1b9;}
span[type="non-relation"]{background-color:#88A47C}




/* ユーザごとのアノテーション配色 */
span[type="user_s"]{background-color: #C9E8F1;}
span[type="user_m"]{background-color: #F3CCFF;}


